:host {
	display: flex;
	cursor: pointer;
	align-content: center;
	padding: 10px 15px;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	white-space: nowrap;
}
	:host > i { opacity: .75; transition: opacity .3s ease-in-out; }

	:host(:hover) > i,
	:host(.router-link-active) > i {
		opacity: 1;
	}