:host { 
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: #212121;
	box-shadow: 0 0 15px rgba(0,0,0,.5);
	z-index: 1000;
}

:host > .pages {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}
	:host > .pages .spacer {
		flex-grow: 1;
	}
	:host > .pages ui-nav-page {
		position: relative;
	}


:host ui-nav {
	background-color: #333;
	box-shadow: none;
}