:host {
	display: block;
	border-radius: 3px;
	background-color: #fff;
	transition: all .3s ease-in-out;
}

:host > section,
:host > header {
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 20px;
}