
	:host > a {
		display: block;
		padding: 10px 20px;
		color: #fff;
		opacity: .75;
		font-size: 15px;
		transition: all .3s ease-in-out;
	}
	:host.active > a ,
	:host > a.router-link-active {
		opacity: 1;
	}