
	:host > a {
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 10px 15px;
		color: #fff;
		opacity: .75;
		font-size: 15px;
		transition: all .3s ease-in-out;
		text-decoration: none;
	}
	:host > a.active,
	:host > a.router-link-active {
		opacity: 1;
	}