:host {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background-color: #fff;
	padding: 0;
	transition: all .3s ease-in-out;
}

:host(.is-error) { background-color: #F44336; color: #fff; }
:host(.is-notice) { background-color: #78909C; color: #fff; }

	:host > section,
	:host > header,
	:host > footer {
		border-bottom: 1px solid rgba(0,0,0,.05);
		padding: 20px;
	}
	
	:host > :last-child {
		border-bottom: 0;
	}
	
	:host > section.content {
		flex-grow: 1;
	}
	
	:host > [compact],
	:host > .content.compact {
		padding: 10px;
	}