:host {
	display: flex;
	min-height: 76px;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	height: 100%;
}

	:host > ui-block {
		background: transparent;
		visibility: hidden;
		transform: scale(0);
		opacity: 0;
		transition: all .3s ease-in-out;
		box-shadow: none !important;
		margin-bottom: 0;
		flex-grow: 1;
	}

		:host > ui-block > svg {
			margin: auto;
		}

	:host(.visible) > ui-block {
		visibility: visible;
		transform: scale(1);
		opacity: 1;
	}