:host {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

	:host > svg {
		background: transparent;
		visibility: hidden;
		transform: scale(0);
		opacity: 0;
		transition: all .3s ease-in-out;
		box-shadow: none !important;
		margin-bottom: 0;
		flex-grow: 1;
	}

	:host(.visible) > svg {
		visibility: visible;
		transform: scale(1);
		opacity: 1;
	}