:host {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

	:host > ui-block {
		position: absolute;
		width: 50px;
		height: 50px;
		background: #fff url("./bliss/ui/spinner/spinner.gif") 50% 50% no-repeat;
		border-radius: 50%;
		visibility: hidden;
		transform: scale(0);
		opacity: 0;
		transition: all .3s ease-in-out;
		left: 50%;
		top: 50%;
		margin-left: -25px;
		margin-top: -25px;
	}

	:host(.visible) > ui-block {
		visibility: visible;
		transform: scale(1);
		opacity: 1;
	}