:host {
	position: relative;
	display: block;
}

:host > ui-block {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	margin: 0;
	transform: scale(0);
	transition: color 0;
}
:host(.visible) > ui-block {
	transform: scale(1);
}

	:host > ui-block > i {
		transition: all .3s ease-in-out;
		transform: rotateZ(-90deg);
		opacity: 0;
	}
	:host(.visible) > ui-block > i {
		transform: rotateZ(0);
		opacity: 1;
	}