<ui-block *ngIf="user">
	<ng-content select="header"></ng-content>
	
	<section>
		<ng-content></ng-content>
		
		<form (submit)="submit()">
			<div *ngFor="#field of fields"
				class="form-group"
				[class.has-error]="field.error"
			>
				<label>{{field.label}}</label>
				<input [attr.type]="field.type" class="form-control" [(ngModel)]="user[field.key]" required>
				<div class="help-block" *ngIf="field.error">
					{{field.error}}
				</div>
			</div>
			
			<div class="form-group">
				<input class="btn btn-primary btn-block" type="submit" value="Create Account">
			</div>
		</form>
	</section>
</ui-block>