:host {
	display: block;
	position: absolute;
	background-color: #212121;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	transition: all .2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	padding: 8px;
	white-space: nowrap;
}

:host(.open) {
	opacity: 1;
	visibility: visible;
}