:host {
	display: flex;
	flex-grow: 1;
}

:host([row]) { flex-direction: row; }
:host([row-reverse]) { flex-direction: row-reverse; }
:host([column]) { flex-direction: column; }
:host([column-reverse]) { flex-direction: column-reverse; }

:host([align-center]) { align-items: center; }

:host([justify-center]) { justify-content: center; }

@media(max-width: 768px) {
	:host([row]) { flex-direction: column; }
	:host([row-reverse]) { flex-direction: column-reverse; }
}