:host {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 20px;
}

:host([href]),
:host([clickable]) {
	cursor: pointer;
}
:host([href]:hover),
:host([clickable]:hover) {
	background-color: rgba(0,0,0,.025);
}

:host > * { margin: 0 10px; }
:host > *:first-child { margin-left: 0; }
:host > *:last-child { margin-right: 0; }